.alert-info{
    background-color: black;
    
}


.panel-body{
    background-color: aqua;
    height: 200px;
    width: 500px;
    margin: auto;
    border: 10px solid brown
}

.panel-body:hover{
    border: solid black 100px;
    
}


.panel-heading{
    background-color:
    
}